img
{
    max-width:100%;
    margin:2px;
    border-radius:15px;
}
@media (min-width: 640px)
{
    img, .im
    {
        width:100%;
    }
}
@media (min-width:960px)
{
    img, .im
    {
        width:75%;
    }
}
@media (min-width:1100px)
{
    img, .im
    {
        width:50%;
    }
}
aside
{
    color:white;
}
header
{
    text-align:center;
    color:white;
}
body
{
    background-image:url(https://imgs.search.brave.com/wA_lKlZCo-74KT1iMnVcBvXWVJI5hG7oBLAGd1sf8pk/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5H/YmlKYXNVUnlnMEVq/Z3VuTTRBWjlRSGFF/OCZwaWQ9QXBp);
    background-size:cover;
    color:white;
    font-size:20px;
}
main
{
    margin:20px;
}
h2
{
    color:white;
}
.im
{
    border:1px solid grey;
    border-radius:7px;
    float:left;
    margin:20px;
    max-width:100%;
}
a
{
    text-decoration:none;
    color:inherit;
}
a:hover
{
    text-decoration:underline;
    color:red;
}
footer
{
    padding:25px;
    font-size:30px;
}