body
{
    background-image:url(https://imgs.search.brave.com/NOxzqdffj2A033RV6uSBKWoYMB0dyC6hkS8HCJRqb5g/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5F/ZHVqbW4yVGVsTzF6/M0xNdTU5U3NnSGFF/OCZwaWQ9QXBp);
    background-size:cover;
    color:white;
}
header
{
   font-family:Arial;
   font-size:25px;
   margin:12px;
}
a
{
    text-decoration:none;
    color:#fff;
}
a:hover
{
    text-decoration:underline;
    color:skyblue;
}
.h
{
    background-color:grey;
    border-radius:5px;
    padding:5px;
    margin:5px;
}
h1
{
    color:teal;
}
h2
{
    color:black;
}
.pa
{
    color:brown;
}
img
{
    width:50%;
}
main
{
    font-size:25px;
    margin:12px;
    color:white;
}
footer
{
    text-align:center;
}